body,
html {
    height: 100%;
}

.container {
    padding-left: 10px;
    padding-top: 10px;
    /* display: grid; */
    display: flex;
    grid-template-columns: 10rem 10rem 10rem 10rem; 
    grid-gap: 1rem; 
    grid-auto-flow: column;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 300px;
    grid-template-rows: 300px;
    

}

.item {
    background-color: gray;
    align-self: center;
    
}

@media only screen and (max-width: 375px) {
    .bg {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (max-width: 1024px) {
    .bg {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}