body,
html {
    height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: auto;
  grid-gap: 20px;
  box-sizing: border-box;
  width: 400px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
}

.item {
  width: auto;
  height: auto;
}

.item:hover ~ .item {
    
}
@media only screen and (max-width: 375px) {
    .bg {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (max-width: 1024px) {
    .bg {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}



